  merge-on-green:
    needs: quality
    if: ${{ github.event_name == 'pull_request'
          && contains(github.event.pull_request.labels.*.name, 'auto')
          && startsWith(github.event.pull_request.head.ref, 'auto/') }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Merge PR (squash & delete branch)
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr merge ${{ github.event.pull_request.number }} --squash --delete-branch
